# Add your Twilio credentials for SMS notification
TWILIO = {
    'ACCOUNT_SID': '',
    'AUTH_TOKEN': '',
    'FROM': '',
    'TO': '',
}

# Uncomment the DCs you want to watch
WATCHED_DC_LIST = [
    #'gra',
    #'rbx-hz',
    #'sbg',
    #'rbx',
    #'bhs',
]

# Uncomment the server you want to watch
WATCHED_SERVER_LIST = [
    #'KS-1',
    #'KS-2',
    #'KS-3',
    #'KS-4',
    #'KS-5A',
    #'KS-5B',
    #'SYS-IP-1',
    #'E3-SAT-1',
    #'E3-SSD-1',
    #'SYS-IP-2',
    #'E3-SAT-2',
    #'E3-SSD-2',
    #'E3-SAT-3',
    #'E3-SSD-3',
    #'SYS-IP-4',
    #'E3-SAT-4',
    #'E3-SSD-4',
    #'BK-8T',
    #'SYS-IP-5',
    #'SYS-IP-5S',
    #'BK-24T',
    #'SYS-IP-6',
    #'SYS-IP-6S',
]

DEBUG = False

QUIET = False
